<form action="/assets/" method="post">
	<div class="form-group">
		<label for="name" class="control-label">Name</label>
		<input name="name" class="form-control" type="text" value="{{ asset.name }}" required />
	</div>

	<div class="form-group">
		<label for="repoUrl" class="control-label">Repo Url</label>
		<input name="repoUrl" class="form-control" type="text" value="{{ asset.repoUrl }}" required />
	</div>


	<div class="form-group">
		<button type="submit" class="btn btn-primary">Submit</button>
		<a class="btn btn-danger" href="/assets/">Back</a>
	</div>
</form>

