<h1><%= assets.length %> assets</h1>

<a href="/assets/new">Create</a>

<table>
	<% for (var i = 0; i < assets.length; i ++) {
		var asset = assets[i];
	%>
	<tr>
		<td>
			<a href="/assets/<%= asset.id %>"><%= asset.name %></a>
		</td>
	</tr>
	<% } %>
</table>
