<form action="/assets/" method="post">
	<div>
		<label>Name</label>
		<input name="name" type="text" value="<%= asset.name %>" required />
	</div>

	<div>
		<label>Description</label>
		<textarea name="description" rows="3">
			<%= asset.description %>
		</textarea>
	</div>

	<div>
		<% if (!asset.id) { %>
			<input type="submit" value="Submit"/>
		<% } %>

		<a href="/assets/">Back</a>
	</div>
</form>
