<div class="jumbotron">
	<h2>easy, modular i3-status</h2>

	<img src="https://user-images.githubusercontent.com/3542195/41798886-11e9a626-7678-11e8-9cf1-f7dc8bd1273b.png" alt="demo"/>

	<h3>Lots of <a href="/assets">plugins</a> to choose from.</h3>

	<p>And it is very easy to <a href="http://github.com/aecepoglu/easyi3status#creating-your-own-plugin">write your own plugins</a></p>
	<p><small>If you couldn't find a module you are looking for, <a href="https://github.com/aecepoglu/easyi3status/issues">request one</a> and I'll be more than happy to write it for you :)</small></p>

	<h3>Start using now</h3>

	<ol>
		<li><a href="http://github.com/aecepoglu/easyi3status#to-install">Install</a></li>
		<li><a href="http://github.com/aecepoglu/easyi3status#to-configure">Configure</a></li>
		<li><a href="/assets">Add plugins</a></li>
	</ol>
</div>
