<div class="jumbotron">
	<h2>easy, modular i3-status</h2>

	<p><i>TODO image of how it looks</i></p>

	<h3>Lots of <a href="/assets">plugins</a> to choose from.</h3>

	<p>And it is very easy to <a href="http://github.com/aecepoglu/easyi3status#creating-your-own-plugin">write your own plugins</a></p>

	<h3>Customizable</h3>

	<p><i>TODO show sample config of date plugin config format being changed and how it looks in the end</i></p>

	<h3>Start using now</h3>

	<ol>
		<li><a href="http://github.com/aecepoglu/easyi3status#to-install">Install</a></li>
		<li><a href="http://github.com/aecepoglu/easyi3status#to-configure">Configure</a></li>
		<li><a href="/assets">Add plugins</a></li>
	</ol>
</div>
